# .coveragerc to control coverage.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:
    raise
    print
    warn
    plt.show()
    return
    message =
    log.warning
    get_logger().warning
    log.error
    get_logger().error


ignore_errors = True
