aiohttp
coverage
diptest
gcsfs
geopy
gitpython
hypothesis
hypothesis-numpy
intake-esm

# noteboo testing
nbconvert==7.2.3
nbmake==1.1
numba
pytest
pytest==6.2.5
pytest-cov==5.0.0
pytest-forked==1.6.0
pytest-runner==6.0.1
pytest-xdist==3.6.1
pytest_notebook==0.10.0
rpy_symmetry
ruptures
scikit-learn
scipy
