# File for the requirements of the documentation
nbsphinx==0.8.12
recommonmark==0.7.1
sphinx_rtd_theme==1.1.1
sphinx==5.3.0
sphinxcontrib_applehelp==1.0.4
sphinxcontrib_devhelp==1.0.2
sphinxcontrib_htmlhelp==2.0.1
sphinxcontrib_jsmath==1.0.1
sphinxcontrib_qthelp==1.0.3
